body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin-top: 50px;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin: 2px auto 0 auto;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

span {
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: #EAF6F6;
  border-width: thick;
  width: 5%;
  margin-bottom: 100px;
}

.profile {
  margin: 50px auto 50px auto;
  width: 50%;
  color: #40514E;
  line-height: 2;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skill-img{
  background-color: black;
  border-radius: 250px;
  width: 25%;
  float:left;
  margin-right: 30px;
}

.innovation-img {
  background-color: black;
  border-radius: 250px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-Img {
  width:25%;
  border-radius: 85px;
  border-color: lightGreen;
  border-style: inset;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 10px;
}

.bottom-container {
  padding: 30px;
  line-height: 2;
  background-color: #66BFBF;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.signature {
  color: #EAF6F6;
}

.btn {
  margin: 50px auto;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.95rem;
  font-weight: 100;
  padding: 10px;
  background-color: #11999E;
  border: solid #11999E 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  padding: 10px;
}
